#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.box_user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 2rem;
}

.box_user p{
  margin: 0;
  font-weight: bold;
}

.user_status{
  height: 100px;
  display: flex;
  align-items: flex-end;
}

.inline,
.offline{
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: block;
  position: relative;
  right: 1.5rem;
  bottom: 0.2rem;

}
.inline{
  background-color: green;
}
.offline{
  background-color: red;
}

.image_user{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.list_user{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}